[2019-03-18 20:31] ccnokes opened #1 "Feature request: support custom GitHub URLs"
I'd like to use this against my company's internal enterprise github instance, but it looks like `api.github.com` is hardcoded in. It'd be great if I could pass a github URL in as an env param. This is a really useful package btw, thanks 👍

[2019-03-20 10:28] mszostok commented on #1
Hi @ccnokes, thanks for reporting the issue!

I totally agree with your feature request, so I will add it at the end of the day:)

Cheers,
Mateusz

[2019-03-21 14:13] #1 closed

[2019-03-21 14:33] mszostok commented on #1
Describe functionality was implemented. Right now u can pass your own GitHub URL by setting **GITHUB_BASE_URL**.

I tested that with our private enterprise GitHub. Basically you need to execute such command:

[code]

I also created the first release with binaries that you can download:
https://github.com/mszostok/codeowners-validator/releases

**so having Go on your host is no longer required.**

[2019-03-21 15:32] ccnokes commented on #1
🎉 Thank you so much! I really appreciate the binaries too -- now this is easy to integrate into our build or a git hook 👍

[2019-05-13 22:17] bdwain opened #3 "invalid email addresses are an error"
Hi,
I tried this tool out and it seems cool. But it seems like github treats a file with an invalid email address in it as an invalid file, which this didn't seem to catch.

`/projects/foo foo@bar`

instead of

`/projects/foo foo@bar.com`

would not work.

Just wanted to let you know in case you wanted to add in a check for that.

[2019-05-15 08:42] mszostok commented on #3
Hi @bdwain

Thanks for reporting that issue. I will take a look at it in the next two weeks :)

Cheers

[2019-11-13 09:39] mszostok opened #10 "Try to move from API Rest calls to GraphQL call."
**Description**

Currently, we are using the API Rest calls to check if defined owners are the valid ones. This generated the problem with a lot of requests. GitHub expose also the GraphQL to call their apis. We need to investigate if they expose their functionality. If yes,  that we can switch to graphql call to significantly reduce the number of calls.

Console to test GraphQL: https://developer

[2019-11-13 09:42] mszostok opened #11 "Add examples how to use codeowners-validator on CI"
**Description**
We need to document the examples how to execute the `codeowners-validator` check on different CI systems (the most popular):
- TravisCI,
- CircleCI,
- Prow,
- GitHub Actions

**Acceptance Criteria**
- Documentation is updated with the copy-paste examples

[2019-11-13 09:45] mszostok opened #12 "Possibility to execute `codeowners-validator` online"
**Description**

Possibility to execute `codeowners-validator` online.

Automatically integrates with your GitHub account and allows you to check any repository online without the need to download and execute binary locally.

This is a nice way to show features of this tool to potential clients.

[2019-11-13 09:47] mszostok opened #13 "Possibility to use the GitHub URL instead of the path to the local repository"
**Description**

Currently, you can execute the `codeowners-validator` only against the cloned repository.

**Acceptance Criteria**
- There should be the possibility to use the GitHub URL instead of the path to the local repo.

[2019-11-13 09:50] mszostok opened #14 "Add test coverage to internal pkg"
**Description**

Currently, only the `pkg` package has full test coverage. The `internal` pkg also should be full-tested. The coverage reports should be generated and reported on some external services that we do not have to manage.

Choose one of the following services:
-  **codecov.io**:  https://codecov.io/gh/mszostok/codeowners-validator/commit/738945641abe90bf37545d4735fda20e23d6eb7c
- **cove

[2019-11-13 09:52] mszostok opened #15 "Move to cobra library."
**Description**

Currently the `codeowners-validator` allows you to specify the configuration only via environment variables.

Moving to [cobra](https://github.com/spf13/cobra/) library will allow us to use the `codeowners-validator` as a full CLI app.

**Acceptance Criteria**
- user can user `codeowners-validator` as CLI
- user can specify configuration via cli flags
- user can specify configurat

[2019-11-13 09:55] mszostok opened #16 "Add support for configuration via YAML file."
**Description**

Add support for configuration via YAML file. It should allow a user to configure the same things that they can configure by using the env variable.

**Is blocked by:** https://github.com/mszostok/codeowners-validator/issues/15

[2019-11-13 09:56] mszostok opened #17 "Move from dep to go modules"
**Description**

The go modules becomes the standard package manager. We need to move to this solution to be up to date with the Go ecosystem.

[2019-11-13 10:10] mszostok opened #18 "Add contributing documentation"
**Description**

We need to add the developer documentation for new contributors.

Describe:
- cloning
- vendoring
- building
- testing (add info that the test-integration is failing on PRs, can be executed locally)

[2019-11-13 10:18] mszostok opened #19 "Add example showcase recorded by asciinema"
**Description**

Currently, in the README.md there is only the screenshot of the codeowners-validator execution. It does not show the underlying envs and cloning action. The full showcase should be recorded by asciinema or posted as some GIF.

[2019-11-14 01:03] #19 closed

[2019-11-19 07:05] mszostok opened #21 "Migrate the validation for checking if team has a proper perms from REST to GraphQL"
**Description**

On this PR https://github.com/kyma-project/kyma/pull/6270 functionality that was added for checking perms is probably not working properly with GitHub teams.

**AC:**
- checking `write` perms works properly both for GitHub users and teams

[2019-12-04 03:52] lswith opened #22 "Filepath Checker incorrect"
There is a bug when checking if a certain filepath exists.

Please run the codeowners-validator against https://github.com/lswith/codeowners-validator-test

You will see:
[code]

When it should see that this CODEOWNER file exists should include all js files in all directories.

[2020-01-09 14:24] njegosrailic commented on #21
It's not working properly. I'll take a look soon because I have introduced this issue.

[2020-03-15 00:21] mszostok commented on #21
the problem is that in current approach we are checking team permission entry which is out-dated

https://github.com/google/go-github/blob/6e0f6ebdef7d6db18d0eb92bb6f7aa9c0c7d4101/github/teams.go#L146-L151

what we need to do is to list the team repos and then check the permission, snippet:
[code]

other option is to use [Review a user's permission level](https://developer.github.com/v3/repos/coll

[2020-03-15 22:40] mszostok commented on #17
Implemented in: https://github.com/mszostok/codeowners-validator/pull/28

[2020-03-15 22:40] #17 closed

[2020-04-24 15:17] knl opened #33 "Validation doesn't fail on invalid syntax with EOL comments"
**Description**

If CODEOWNERS file contains a comment towards the end of the line, the validator doesn't flag it as invalid. In case of such comments, GitHub will skip the rest of the file.

Example:

[code]

**Expected result**

I would expect the above snippet to be marked as problematic.

**Actual result**

[code]

Note that I'm not using `owners` check, as it is not clear what kind of right a

[2020-04-29 13:33] klauern commented on #15
Can I suggest [`urfave/cli`(v2)](https://github.com/urfave/cli/blob/master/docs/v2/manual.md#getting-started) instead?

I think Cobra is a bit overkill unless you have a rich set of sub-commands, parameters, flags, etc., and ends up being a pain to maintain if you only have a couple options.  I have found for smaller projects that `urfave/cli` is a lot easier.

To add to it, it was recently releas

[2020-05-01 12:04] klauern opened #35 "Document what permissions are needed for a PAT"
**Description**

The documentation doesn't explain very well what permissions you need to grant a Personal Access Token in order to have it work with your tool.  More specific documentation around what permissions need to be granted, perhaps with a screenshot of the checkboxes, would be ideal.

**Reasons**

When it errors, it does not specify what permissions are needed, so remediating this become

[2020-05-04 14:27] mszostok commented on #15
Hi @klauern thanks for that suggestion. I also think that cobra is quite overkilling but it provides autocompletion, generating documentation from code etc., working with the configuration from different sources and I know it from some CLIs such as docker, k8s.

But first, look at `urfave/cli` is really promising and I will definitely do the comparison and consider to choose the simplest one :) th

[2020-05-05 11:02] #35 closed

[2020-05-05 11:07] mszostok commented on #35
Hi :)
Documentation was added and merge to master:
https://github.com/mszostok/codeowners-validator/blob/master/docs/gh-token.md

if sth will be unclear/missing then please reopen the issue :)

[2020-05-05 13:34] mszostok commented on #33
ICYMI: Please see my comment :) https://github.com/mszostok/codeowners-validator/pull/34#pullrequestreview-404882383

btw. documentation for the token in `owners` check was added https://github.com/mszostok/codeowners-validator/pull/36

[2020-05-05 19:04] mszostok commented on #14
The integration tests were added in this PR: #30

[2020-07-08 16:27] liamfd opened #40 "Owners check does not support child teams with inherited repo perms"
**Description**

When running the "owners" check on a child GitHub team which has inherited its repo perms from a parent, the GitHub action reports:

I took a look through the code, and I think the issue comes down to the generation of the teams list [here](https://github.com/mszostok/codeowners-validator/blob/d18c45dcfcc4208fb3f50f33631f752e1fd896aa/internal/check/valid_owner.go#L104). That appea

[2020-10-16 19:53] wilrnh opened #42 "Files checker does not support globstar patterns (**)"
the validator uses go's built in filepath globber, which doesn't support double-asterisk patterns (https://github.com/golang/go/issues/11862):

https://github.com/mszostok/codeowners-validator/blob/c915fc0611a4e9336a7eaf64d6e93a28a765a7fa/internal/check/file_exists.go#L27

using https://github.com/bmatcuk/doublestar or https://github.com/golang/go/issues/11862#issuecomment-694740475 seems like goo

[2020-10-17 20:46] mszostok commented on #42
Hi @wilrnh

Thanks for reporting that issue, this is also a part of this problem https://github.com/mszostok/codeowners-validator/issues/22 and sometime ago I was doing an investigation about it and as a result I had fix on my local branch but forget to finish that. Your issue energized me to finish that, thanks! 😃

[2020-10-17 20:54] #22 closed

[2020-10-17 20:54] #42 closed

[2020-10-17 21:38] wilrnh commented on #42
glad to hear! any plans for a release soon?

[2020-10-17 22:29] mszostok commented on #10
Currently GitHub GraphQL API v4 is not exposing we need to use in a way that it will speed up or reduce the number of calls

[2020-10-17 22:29] #10 closed

[2020-10-19 16:03] wilrnh commented on #42
ignore me, i just rtfm and saw the milestone. ill go ahead with an internal build for now. thanks for such a great project!

[2020-10-19 16:10] mszostok commented on #42
Thanks!

Actually, I will try to do my best to close the v0.5.0 milestone this week. I will update you when the new release will be cut off :+1:

[2020-10-22 09:19] mszostok commented on #14
The unit-test coverage was increased here: https://github.com/mszostok/codeowners-validator/pull/43

[2020-10-23 18:31] #33 closed

[2020-10-23 18:34] mszostok commented on #3
Issue fixed by adding syntax checker: https://github.com/mszostok/codeowners-validator/pull/46

[2020-10-23 18:34] #3 closed

[2020-10-24 16:58] mszostok opened #49 "Add test coverage report from integration tests"
**Description**

The test coverage is pushed to the codecov.io platform: https://codecov.io/gh/mszostok/codeowners-validator

 But the coverage raport is generated only from the unit-test. The problem is that not every checker is easy to test with unit test. For example, the owners_check executes external calls and mocking that does not make sens. Instead the integration testing is ensuring that t

[2020-10-24 16:59] mszostok commented on #14
The unit-tests were added for all places where it makes sense. Rest is covered by integration tests.

There is a follow-up issue to show the test-coverage from integration tests (https://github.com/mszostok/codeowners-validator/issues/49)

[2020-10-24 16:59] #14 closed

[2020-10-24 19:33] mszostok commented on #21
Probably the best option is to use the GraphQL query to remove the overfetching problme, example query:
[code]
can be used in https://developer.github.com/v4/explorer/

[2020-10-26 21:04] mszostok opened #50 "Redesing the codeowners documentation"
**Description**

Currently, most of the validator documentation is placed in main README.md file. This makes it hard to read and check which sections are described.

In this task documentation should be split to a dedicated .md files. The ToC in /docs folder should be updated.

Scratch: expose documentation using some static state generator, e.g.:
- [Hugo](https://gohugo.io/)
- [mdbook](https://gi

[2020-10-27 09:40] mszostok commented on #42
Hi @wilrnh ICYMI: Yesterday I released a new v0.5.0 version of Codeowners Validator, check more [here](https://github.com/mszostok/codeowners-validator/releases/tag/v0.5.0).

Sorry for the little delay:)

[2020-10-27 15:16] wilrnh commented on #42
very nice! thank you

[2020-10-27 18:35] LetticiaNicoli opened #52 "Discussion: Support to ignore @ghost"
I have a scenario in my CODEOWNERS file, which I define as the owner of a path is @ghost because it's a trick to avoid getting review requests. The problem is that when I run the checker through GH actions, it returns this error:

[code]
(because in fact, this "user" does not exist)

Reading the documentation, I thought that perhaps `not_owned_checker_skip_patterns` could solve this problem. But I

[2020-10-27 21:47] LetticiaNicoli commented on #52
PR opened https://github.com/mszostok/codeowners-validator/pull/53

[2020-10-29 08:21] mszostok commented on #52
Hi @LetticiaNicoli

Thanks for reporting that problem.

Just a little context:
The `not_owned_checker_skip_patterns` it is a config for `Not Owned File Checker`  and allows you to ignore **patterns**. For example, you can specify `*` and as a result, the `*` pattern from the **CODEOWNERS** file will be ignored and files owned by this pattern will be reported as unowned unless a later specific patt

[2020-10-29 14:41] LetticiaNicoli commented on #52
Hi @mszostok 😄
Thanks for the explanation! Now I better understood the use of the `not_owned_checker_skip_patterns`.
Your project fits very well in our scenario! We'll take a look at your feedback on PR 🎉

[2020-10-31 10:20] mszostok opened #54 "[Valid Owner Checker] Make the ignored owners configurable"
**Description**

As a part of https://github.com/mszostok/codeowners-validator/issues/52 issue, there was an interesting problem regarding the @ghost user which was solved by https://github.com/mszostok/codeowners-validator/pull/53. This issue is about making implemented logic a little more generic and instead of hard-coding the @ghost username, it would be better to export the option which takes

[2020-10-31 10:46] mszostok commented on #52
Hi, I decided to merge the PR as it was in general a 100% valid case. I extracted the generalization logic to a separate issue 👍 The user-facing behavior will stay the same, so by default the @ghost user will be deleted :)

Thanks for your interest in this project and your active support!

I will try to do a release with this enhancement this Sunday :)

[2020-10-31 10:46] #52 closed

[2020-10-31 15:12] majakurcius commented on #54
Can I work on this issue?

[2020-10-31 16:00] mszostok commented on #54
Feel free to take it 👍

[2020-10-31 16:20] #54 closed

[2020-10-31 16:37] majakurcius commented on #18
Let me help with this one! :)

[2020-10-31 19:20] #18 closed

[2020-11-06 06:06] udayrajMT opened #57 "Gitlab API support for owners check"
**Description**
For owners checks using your CLI, it'd be great if we can specify whether it is for a gitlab or github repository. I'd like to get a validator for checks mentioned in your repo -

    1. Check if the owner's definition is valid (is either a GitHub user name, an organization team name or an email address).

    2. Check if a GitHub owner has a GitHub account

    3. Check if a GitHu

[2020-11-06 08:59] mszostok commented on #57
Hi @udayrajMT

The idea sounds interesting. I will try to investigate if the GitHub CODEOWNERS and the Gitlab ones have the same syntax expression as currently, the codeowners-validator validates a few things which are tightly connected with GitHub :)

[2020-11-09 03:29] udayrajMT commented on #57
@mszostok the codeowners files in both do follow the same syntax:
[Github ref](https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax)

[Gitlab ref](https://docs.gitlab.com/ee/user/project/code_owners.html#the-syntax-of-code-owners-files)

A user’s email address.
The @name of one or more groups that should be owners of

[2020-11-23 05:12] ZacSweers opened #58 "Document which scopes are needed for"
**Description**

Consider documenting which scopes are needed for the github action to validate owner teams

**Reasons**

It's not currently documented and it's not clear to me which ones should be selected.

In fact, the URL it's trying doesn't appear correct to me 🤔

[code]

Shouldn't this use the org/teams endpoint? https://docs.github.com/en/free-pro-team@latest/rest/reference/teams#list-teams

[2020-11-23 15:34] mszostok commented on #58
Hi @ZacSweers

the GitHub token was already described some time ago here: https://github.com/mszostok/codeowners-validator/blob/master/docs/gh-token.md

Regarding the endpoint problem that you mentioned. I'm using the endpoint under the repos URL as I need to know that a given team is assigned to the proper repos. I'm not interested in all teams and using the `https://api.github.com/orgs/<org>/tea

[2020-11-23 21:02] dragonsinth opened #59 "410 Gone from reading https://sum.golang.org/lookup/github.com/mszostok/codeowners-validator@v0.5.1"
Can't go get -u github.com/mszostok/codeowners-validator as of v0.5.0

[code]

Directly hitting https://sum.golang.org/lookup/github.com/mszostok/codeowners-validator@v0.5.1
[code]

It seems that sum.golang.org doesn't like this package right now.  The last one I can actually pull is v0.4.0
Unsure whether this is a bug with sum.golang.org or not.

[2020-11-24 18:32] #59 closed

[2020-11-24 18:36] mszostok commented on #59
Thanks to @sgmitchell, this problem should be fixed already on master. I will create the `0.5.2` release just as a "shadow" for the `0.5.1` to allow you to vendor this pkg.

Thanks for reporting this issue!

[2020-11-24 23:46] ZacSweers commented on #58
Hmm, when I tried this we always get back an empty list. Let me see if I can debug with some manual querying on the API to repro

[2020-11-25 20:51] dkuebric commented on #58
From some experimentation, even with the permissions specified in the doc above, it looks like the user with the token either needs to be an organization owner or have admin access to the repo in question.

I'm not sure how to verify the exact scopes required for this operation in the GH docs (eg. can't find this documented).

Does this sound right to you @mszostok ? It doesn't seem like it should

[2020-12-09 20:39] Nuru commented on #52
@LetticiaNicoli If the "ghost" user does not exist, it will invalidate the entire CODEOWNERS file. From [the documenation](https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax):

[2020-12-22 10:51] photonbit commented on #58
I had the same issue. I can't list teams in the repo, and the tests for this seem to be failing with the same 404 error. After consulting the documentation from the API seems like there is no error, but it is not working for public repositories either. After doing this change it is working for the private repo case I am working on: https://github.com/photonbit/codeowners-validator/commit/f145b6563

[2021-01-05 02:55] jspiro commented on #40
I found that the tool reports this as a problem unless you explicitly add the repo to the team, even though in that situation it looks identical to inheritance–this fixes it from the tools POV.

You can then remove it after explicitly adding it, and the repo will still show up as it did before, and still show that it has a write inherited, but the tool reports the issue.

So does GitHub require yo

[2021-01-05 03:11] jspiro opened #61 "CODEOWNERS templates"
**Description**

I propose this tool generates a good template to start with, which include human readable rules and instructions. I will share the one I have written for @OpenGov as a basis for discussion and improvement.

**Reasons**
- GitHub provides exceptionally poor documentation
- Over the last year of working with them over many different codeowners issues, their support has implicitly ass

[2021-01-21 16:10] #40 closed

[2021-01-21 16:17] mszostok commented on #21
This issue was solved by #62. I do not close it because we can recheck if it is worth to change the implemented logic from REST to GraphQL.

More context: https://github.com/mszostok/codeowners-validator/pull/62#discussion_r561273525

[2021-02-02 21:06] remal opened #67 "Validation failed with 'Cannot initialize organization member list' error"
I'm trying to use codeowners-validator for my own [repository](https://github.com/remal/oss-template), which is **not** owned by an organisation, with default settings like this:
[code]

**Expected result**

The validation is performed successfully.

**Actual result**

The validation fails with this error:
[code]

[2021-02-16 10:45] akien-mga opened #68 "File Exist Checker fails on valid relative paths checked in all directories by CODEOWNERS"
First of all thank you for this tool, it helped me fixed `CODEOWNERS` for https://github.com/godotengine/godot
Turns out that review-requests don't work for teams without `Write` permission for some reason (as if a review from someone not able to press "Merge" is not valid), but your tool caught it + more issues :)

**Version**
0.6.0, installed in `./bin` with curl instructions.

**Description**

[2021-02-18 08:12] mszostok commented on #67
Hi @remal

Unfortunately, the Codeowners Validator works properly in repos which are under organization. For now, you can disable the `owners` checker. Example:

[code]

With that you still can benefit from other checkers  :)

[2021-02-18 08:24] mszostok commented on #68
Hi @akien-mga

Thank you for getting in touch!

First what you can do is to disable the file checker. As a result, you can benefit from other checks.

[code]

or with GitHub Action:
[code]

In the meantime I will check implementation and I will ping you when new version with fix will be available :)

[2021-02-18 09:23] akien-mga commented on #68
Thanks :) I did use the other checks successfully, so I'm just reporting this as a false positive but it's in no way blocking.

[2021-02-18 16:36] remal commented on #67
@mszostok I've already done it, but I suggest implementing a check if repo owner is an organisation.

[2021-04-20 19:01] micimize opened #70 "Multiple Owners check"
CODEOWNERS has a problematic behavior where a rule that specifies a single user will [prevent that user from editing their owned code](https://github.community/t/do-not-require-owner-approval-if-the-pull-request-is-from-an-owner/369).

It would be nice to validate that there are no rules of the form `/js @myjsguy` to prevent this from happening, maybe via a `multiowners` flag.

[2021-05-07 08:01] ian-azyra opened #71 "Validation fails on files with escaped spaces"
**Description**

Our repository includes many files that have spaces in them. GitHub allows spaces in paths in CODEOWNER files but requires them to be escaped with `\`. A valid CODEOWNER file path like `/Testing/Path\ With\ Space.cs` shows the correct CODEOWNER in GitHub but our mszostok/codeowners-validator@v0.6.0 GitHub Action fails with the message

    ==> Executing Valid Syntax Checker

[2021-05-26 22:02] dragonsinth commented on #68
Relatedly, the file exists checker uses Go's `filepath.Glob()` internally, which doesn't support `**` expansions.

[2021-06-07 19:43] nitrocode opened #72 "Document how to configure GitHub action"
**Description**

We have multiple outside contributors added to a github org repo. The github org does not contain the outside contributors and so complains even tho we have `OWNER_CHECKER_IGNORED_OWNERS` set.

**Expected result**

It should ignore the users that are outside contributors.

**Actual result**

[code]

**Steps to reproduce**

`.github/CODEOWNERS`
[code]

`.github/workflows/validate-c

[2021-06-07 21:18] mszostok commented on #72
Hi @nitrocode

Thanks for reporting that. It's a problem with workflow syntax. You need to define it as action argument, not enviromnet variable, see:

[code]

The codeowners validator can be used directly as binary e.g. locally or on other CI system and also natively as GitHub Action.

When it is used as a GitHub action, the configuration needs to be specified as action arguments. This is the pre

[2021-06-07 22:16] Nuru opened #73 "Option to disable Check if a GitHub owner is in a given organization"
**Description**

Please provide an option to disable only the "Check if a GitHub owner is in a given organization" part of the Valid Owner Checker.

**Reasons**

I frequently work in repos that have an outside collaborator as a Code Owner (sometimes it is me). I would like to be able to keep the other checks in the Valid Owner Checker active and disable only the "Check if a GitHub owner is in a gi

[2021-06-08 08:47] mszostok commented on #72
**[NOTE]** relates to: https://github.com/mszostok/codeowners-validator/issues/73

[2021-06-08 14:54] #72 closed

[2021-06-10 16:35] mszostok commented on #73
Hi @Nuru

I can add opt to disable that e.g. `OWNER_CHECKER_DISABLE_ORG_MEMBER_VALIDATION=true/false`. But it will be a short-term solution. Later someone else can as about disabling other _sub-check_, maybe even disable it only for some owners etc.

Sometimes, I see that people introduce `known_violations.txt` and compare validator output with this file. In that way, some known issues can be igno

[2021-06-15 03:29] nitrocode commented on #73
I appreciate all the time you put into these examples. As for example 2, we currently ignore each individual using the `owner_checker_ignored_owners`. I'd prefer not to ignore each owner individually as it's difficult to scale.

If we're going with either solution, Id favor example 1 as that will eliminate the need to maintain a list of users to ignore. Like you mentioned, if the message changes,

[2021-06-25 21:08] mszostok opened #76 "Change deprecated `go get`"
**Description**

As the `go get ..` is deprecated, the suggested installation process needs to be changed.

source: https://go.googlesource.com/go/+/ced0fdbad0655d63d535390b1a7126fd1fef8348

**Reasons**

`go get` will fail with go 1.18

[2021-06-28 08:04] Nuru commented on #73
@mszostok You are right that people will want to disable other sub-checks. If you look at other "linters" you will see that in general they give some kind of name/label/key to every single check at the finest possible detail level (such that there is no such thing as a "sub-check") and then allow people to enable or disable them one by one. Usually you can say "run all except these" or "run only t

[2021-07-07 18:22] kenherring opened #77 "Valid Owner Checker should ignore team name casing"
**Description**

We have a code owners file with the following entries:
[code]

Under the "someorg" organization we have a team called "TeamReviewers".  The validator currently issues an error for the second entry above.  It appears that we expect to use only lowercase names.

[code]

**Expected result**

In the instance described above both entries should ignore casing and match "TeamReviewers".

[2021-07-15 15:40] #77 closed

[2021-07-15 16:29] #76 closed

[2021-07-27 09:47] ktikku opened #81 "Verify code owners against a set list of owners?"
Hi @mszostok,

This action is quite useful for us, thanks!
I had question, can we verify/validate the code owners present in the CODEOWNERS file against against a set list of users.
I was not able to find such a feature in the documentation.

Thanks

[2021-07-27 20:01] mszostok commented on #81
Hi @ktikku,

Currently, there is no such option. Owners are validated against GitHub. If they are present in a given org and have proper permissions, they are valid.

[2021-09-06 19:25] kjellander-unity opened #93 "Syntax checker doesn't capture parse error due to tilde (~) in paths"
**Description**

It's rare, but can still happen, that you have paths with `~` in the path of the CODEOWNERS file. This makes GitHub's CODEOWNERS stop working silently. Unfortunately, this case is not caught by the `Valid syntax checker`.

**Expected result**

The checker should fail and point at the faulty line in CODEOWNERS.

**Actual result**

All checks are OK.

**Steps to reproduce**

Add a l

[2021-09-13 16:44] joshua-cannon-techlabs opened #94 "Syntax Checker errors with "missing owner" on valid CODEOWNERS"
**Description**

It's totally valid to list a directory/file/pattern and leave off an owner as a way of specifying "no owner".
See the docs: https://github.com/github/docs/blob/209c340039acc4c2f73c2eb1fcd607af00911118/content/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners.md#L103

[code]

Notice the last line has no owner.

**Expected res

[2021-09-14 20:49] mszostok commented on #94
Hi @joshua-cannon-techlabs
Thanks for reporting this issue. I will fix that. Do you maybe know the use-case for that?

Because here is also a valid issue https://github.com/mszostok/codeowners-validator/issues/70 which mention that the validator should inform you about valid but problematic part of your CODEOWNERS file.

In this case such thing IMO shouldn't be an error as it's valid from the CODE

[2021-09-14 21:00] joshua-cannon-techlabs commented on #94
(FWIW I would fix it and make a PR but we're still working with legal on open source contributions :sob: )

I think it all depends on your policies. If you don't have the strict owners policy than you can still merge changes to `/apps/github`.

If this kind of validation (and #70) was an optional check I can opt into or out of then thats good. But putting them in `syntax` check is wrong IMO as the

[2021-09-15 17:28] joshua-cannon-techlabs commented on #94
Actually, I might be able to take a stab at this. Good excuse to learn some Go

[2021-09-21 21:49] instacart-spenser commented on #94
We have a use case for this.  In our repo, we have one file which does not need a code owner (anyone with access to the repo should be able to review/approve it.) However, the rest of the files in the directory in which it is in should be owned by a specific team.

The file to be unowned is a configuration file for the oncall-rotator.  The other files in the directory are an app that uses the conf

[2021-09-30 14:18] joshua-cannon-techlabs commented on #94
I have the implementation ready to go, but it'll need to be reviewed internally which could take time.

The implementation itself is quite simple, as we're just removing code so I wouldn't be brokenhearted if someone else beats me to this and makes a PR.

[2021-10-04 12:08] iam-frankqiu opened #96 "Something is wrong."
**Description**

I opened a PR to node.js. The first time Actions is passed, but the second time it failed.
I really don't know why. Is it a problem with the version of 0.4?

**Expected result**
Actions passed.

**Actual result**
Something is wrong.

**Steps to reproduce**
https://github.com/nodejs/node/pull/40281/checks?check_run_id=3787788624

**Troubleshooting**

[2021-10-05 04:16] cktaylor opened #97 "Validate that only a single CODEOWNERS file exists in the repository"
**Description**

As you know Github [documents](https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-file-location) that the CODEOWNERS file to be placed in the root, docs/, or .github/ directory of the repository.

It however does not state anything pertaining to whether multiple CODEOWNERS files exist.

W

[2021-10-05 04:22] cktaylor commented on #94
We have a similar use-case in our repo - of wanting to have an explicitly unowned file in an otherwise owned directory.

It would definitely be encouraging if `codeowners-validator` can handle this directly - so we can avoid other compromises (intentionally changing our file location/structure solely to allow codeowners-validator to pass).

[2021-10-05 04:28] cktaylor commented on #70
It is mentioned in the linked thread - but to call it out explicitly, another situation to consider (that may be out of scope of this issue though) is that it is equally problematic if the CODEOWNERS rule specifies a single team and that team has a single user.

Given that `codeowners-validator` already has logic to talk to Github for team/org metadata - if it is possible to get team size from tha

[2021-10-05 16:48] micimize commented on #70
@cktaylor this is true, but a much harder thing to put guard rails on, as team size can change externally and cause issues

[2021-11-23 16:57] athtran commented on #94
I have a PR open that addresses this issue: https://github.com/mszostok/codeowners-validator/pull/101

@mszostok If you could take a look when you have some time!

[2021-11-23 16:58] athtran commented on #97
I have a PR that addresses this issue: https://github.com/mszostok/codeowners-validator/pull/100

@mszostok If you could take a look when you have time, thanks!

[2022-02-09 20:34] mszostok commented on #94
Sorry guys!

Currently, I'm quite busy, and this project was developed 100% in the spare time, which I almost don't have right now.

The mentioned PR is quite problematic for me as it's only removing a given check instead of making it optional, so maybe I will adjust it a bit, so you can set a given env variable to disable strict checking. Configuring the codeowners  validator in a more readable/c

[2022-02-09 21:32] #97 closed

[2022-02-10 14:14] mszostok commented on #96
I see that pipeline are green. Please reopen if problems still occur. Using the latest version is also recommended.

[2022-02-10 14:14] #96 closed

[2022-02-10 14:20] mszostok commented on #81
Please re-open if this feature is really required. Currently, it lacks enough interest to be implemented in the near future.

[2022-02-10 14:20] #81 closed

[2022-02-11 19:03] mszostok opened #114 "Who is using Codeowners Validator？"
### Who is using Codeowners Validator？

I want to sincerely thank everyone who constantly keeps on using and supporting **Codeowners Validator**! 🚀

This project is developed 100% in my spare time, but I try to keep **Codeowners Validator** actively developed and maintained.

### The intention of this issue

- **Find out how many people out there are using this tool to ensure that the time spent o

[2022-02-11 19:15] mszostok commented on #16
connected with https://github.com/mszostok/codeowners-validator/issues/73

[2022-02-11 19:21] mszostok opened #115 "Add support for outside collaborators"
**Description**

There is an option to add people as [outside collaborators](https://docs.github.com/en/organizations/managing-access-to-your-organizations-repositories/adding-outside-collaborators-to-repositories-in-your-organization).

The codeowners-validator should include those members when in `owners` check as currently they are ignored.

**Reasons**

Currently, `owners` check my produce fal

[2022-02-11 19:48] mszostok opened #116 "Release v1"
**Description**

This tool was created a long time ago, and I already got a lot of feedback.

I plan to release the v1 once:
- [bugs](https://github.com/mszostok/codeowners-validator/issues?q=is%3Aopen+is%3Aissue+milestone%3Av1.0.0+label%3Abug) will be fixed.
- [enhancements](https://github.com/mszostok/codeowners-validator/issues?q=is%3Aopen+is%3Aissue+milestone%3Av1.0.0+label%3Aenhancement):
  -

[2022-02-11 19:54] mszostok commented on #114
**GitHub organization:** Microsoft: https://github.com/microsoft

Repositories:
- [FluidFramework](https://github.com/microsoft/FluidFramework/blob/1d59209f2e0fc4d50e550c54583c91ce79f0a492/.github/workflows/pr-validation.yml#L1-L18)

[2022-02-11 19:56] mszostok commented on #114
**GitHub organization:** Node.js https://github.com/nodejs
Repositories:
- [node](https://github.com/nodejs/node/blob/863d13c192a8d315fa274194e64c1c9e5820e8f2/.github/workflows/linters.yml#L132-L141)
- [node-auto-test](https://github.com/nodejs/node-auto-test/blob/873119385f4b59d9a0df75284790203102054ea1/.github/workflows/linters.yml#L118-L125)

[2022-02-11 20:01] mszostok commented on #114
**GitHub organization:** .NET Platform https://github.com/dotnet
Repositories:
- [Silk.NET](https://github.com/dotnet/Silk.NET/blob/2075c6fe707578ed41d509b1cfff21ddf06c1c6d/.github/workflows/codeowners.yml#L1-L17)

[2022-02-11 20:06] mszostok commented on #114
**GitHub organization:** iTwin Platform https://github.com/iTwin

Repositories:
- [itwinjs-core](https://github.com/iTwin/itwinjs-core/blob/d8a23da126a6ec658105e02ecbdf49b6a83f9aff/.github/workflows/sanity.yaml#L1-L25)
- [viewer-components-react](https://github.com/iTwin/viewer-components-react/blob/b2f80fc970f148c99dc4faa73f0a373ce8bd8ccd/.github/workflows/sanity.yml#L1-L25)

[2022-02-11 20:08] mszostok commented on #114
**GitHub organization:** Magma https://github.com/magma
Repositories:
- [magma](https://github.com/magma/magma/blob/a6a350c3438322af5fef3f72d6fe83917e72ab94/.github/workflows/codeowners-syntax.yml#L1-L27)

[2022-02-11 20:10] mszostok commented on #114
**GitHub organization:**  GloTarAn https://github.com/glotaran

**Repositories:**
- [pyglotaran](https://github.com/glotaran/pyglotaran/blob/9e3e36a2033c988a59cbf1be15438d911f141657/.github/workflows/codeowners_validator.yml#L1-L33)

[2022-02-11 20:11] mszostok commented on #114
**GitHub organization:** Square https://github.com/square

**Repositories:**
-[workflow-kotlin](https://github.com/square/workflow-kotlin/blob/df1a6ba8c46aac64fd119b916f184fef1ea25abf/.github/workflows/validate-codeowners.yml#L1-L25)

[2022-02-11 20:13] mszostok commented on #114
**GitHub organization:** gofunky https://github.com/gofunky

Repositories:
- [update-codeowners](https://github.com/gofunky/update-codeowners) - used as example.

[2022-02-11 20:15] mszostok commented on #114
**GitHub organization:**  Open Ag Technology and Systems Group https://github.com/oats-center

**Repositories:**
- [isoblue-avena](https://github.com/oats-center/isoblue-avena/blob/61bac320f12ee560dbff0813976226594d199cc8/.github/workflows/validate-codeowners.yml#L1-L31)

[2022-02-11 20:17] mszostok commented on #114
**GitHub organization:**  island.is https://github.com/island-is
**Repositories:**
- [island.is](https://github.com/island-is/island.is/blob/6eb0e85b19074265a55ca367454236453c8e01b1/.github/workflows/external-checks.yml#L1-L41)

[2022-02-11 20:18] mszostok commented on #114
**GitHub organization:**  Code42 Software https://github.com/code42

**Repositories:**
- [dir2consul](https://github.com/code42/dir2consul/blob/d2d3005ce89f1304ac023d21cc7bc70c82deb8f4/.github/workflows/validate-codeowners.yml#L1-L27)
- [axiomatic](https://github.com/code42/axiomatic/blob/534af2b632bdbd139fad88b97dd4aadac6407fd7/.github/workflows/validate-codeowners.yml#L1-L270

[2022-02-11 20:19] mszostok commented on #114
**Repositories:**

[2022-02-11 20:21] mszostok commented on #114
**GitHub organization:** Oppia https://github.com/oppia
**Repositories:**
- [oppia-android](https://github.com/oppia/oppia-android/blob/62d243a3d14d07851e5c68b7c7d8e743263797f4/.github/workflows/static_checks.yml#L13-L22)

[2022-02-11 20:23] mszostok commented on #114
**GitHub organization:** Open Ag Data Alliance https://github.com/OADA
**Repositories:**
- [server](https://github.com/OADA/server/blob/b79c6772a8bee6818f03e7a28da8901889eae821/.github/workflows/validate-codeowners.yml#L16-L39)

[2022-02-11 20:25] mszostok commented on #114
**GitHub profile:**  Vadim https://github.com/rfprod
**Repositories:**
- [flutter_starter](https://github.com/rfprod/flutter_starter/blob/ccd7b0d4b08c86bebd60abe222852836f0136162/.github/workflows/codeowners-validator.yml#L1-L32)
- [nx-ng-starter](https://github.com/rfprod/nx-ng-starter/blob/07554a21e31500349c37c7baa228de6e3487e33e/.github/workflows/codeowners-validator.yml#L1-L32)
- [mono](https:

[2022-02-11 20:26] mszostok commented on #114
**GitHub profile:**  omrisk https://github.com/omrisk
**Repositories:**
- [clickhouse-playground](https://github.com/omrisk/clickhouse-playground/blob/4c1c7743139244864153f29ea592b89f9f343495/.github/workflows/quality-checks.yml#L1-L29)

[2022-02-11 20:53] mszostok opened #117 "Check if CODEOWNERS file is less than 3MB"
**Description**

There is a hard requirement that CODEOWNERS will be ignored if it's above 3MB: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-file-size

[2022-02-12 18:18] #94 closed

[2022-02-12 22:01] mszostok commented on #94
Hi all!

I fixed it in a way that the new release v0.7.0 won't report missing owner as an error anymore 🙂
Nevertheless, I wanted to keep it, so I moved this check under `owner` checker and made it optional. As a result, validator may work in a picky mode when needed, see new option:

| Name                                           | Default | Description

[2022-02-13 08:36] foolioo opened #121 "Team does not belong to organization"
**Description**

Upgrading to version 0.7.0 makes the Github action fail, whereas version 0.6.0 passed. The action is configured as follows

[code]

With a CODEOWNERS file that looks like so

[code]

**Expected result**

The action should not fail

**Actual result**

The action fails with the following message

[code]

**Steps to reproduce**

Since the issue relates to Github organization, unable

[2022-02-13 12:10] foolioo commented on #121
@mszostok **thanks a million**
any idea when you will release a new version with the fix?

[2022-02-13 12:12] mszostok commented on #121
I will release it in a moment 👍

[2022-02-13 12:21] mszostok commented on #121
@foolioo please let me know if this issue was fixed for you in `mszostok/codeowners-validator@v0.7.1`🙇  then I will close this issue.

[2022-02-13 12:24] foolioo commented on #121
@mszostok version 0.7.1 works for me

[2022-02-13 12:25] mszostok opened #124 "Periodically validate if GitHub is case-insensitive for teams and orgs names"
**Description**

We don't have access to GitHub code, which is responsible for assigning owners. As a result, we need to create yet another e2e test that will be executed periodically to:
- Create a sample PR against files where `@GiTHubCodeOwners/A-TeAm` is specified and check whether GitHub is still case-insensitive and assigns `@GitHubCodeowners/a-team` properly.

**Reasons**

Ensure that valid

[2022-02-18 05:16] foolioo opened #125 "Comments in CODEOWNERS"
**Description**

following [Comments in CODEOWNERS files can now appear at the end of a line, not just on their own line](https://github.blog/changelog/2022-02-17-codeowners-improvements-syntax-errors-preview-of-who-will-be-requested-and-more/), it will be lovely to have the codeowners validator support it.

**Reasons**

- support for github builtins
- comments are a part of every code base
- make

[2022-02-27 18:43] foolioo opened #126 "notowned with an empty codeowners file"
**Description**

Using version 0.7.1 with an empty CODEOWNERS file and setting `experimental_checks: notowned` displays an error and it does not fail the execution (see _Actual result_ for the error message).

**Expected result**

If there is an error, the validator should fail with non zero exit code

**Actual result**

[code]

**Steps to reproduce**

Use the same setup as #121 with an empty CODE

[2022-03-11 23:42] #125 closed

[2022-03-12 00:37] mszostok commented on #126
It was a known issue:
https://github.com/mszostok/codeowners-validator/blob/d95ed833d4bbe7104c26d7556c1d16fa1c6eb30d/internal/runner/runner_worker.go#L72

But now it's fixed by https://github.com/mszostok/codeowners-validator/pull/130

[2022-03-12 00:40] #126 closed

[2022-03-30 00:16] peterdemin commented on #114
We use your great tool in [Moveworks](https://moveworks.ai) on git-push as a [pre-commit hook](https://pre-commit.com/).
It's in a private repo. But feel free to ping me.
On a practical note, it would be great to have proper integration with the above pre-commit hook project. That would allow us to manage the version and pass arguments in a consistent fashion with other checks.

[2022-04-08 10:26] mszostok opened #139 "Validate GitHub token scopes when `owners` check is enabled"
**Description**

Currently, if you will pass GitHub token, it won't be validated. If it lacks necessary scopes, a misleading error can be returned. For example:

[code]

but in real, the problem is that the token doesn't have the "read:org" scope.

To avoid such problems, we need to check if token has the "read:org" and "public_repo" scopes when `owners` check is enabled.

[2022-04-08 16:53] jeremycohen commented on #114
We're also looking into using this in a private repo. The main use case we're going after is making sure all files in a test directory have an owner. To do this we may need an additional variable added to only search certain directory for CODEOWNERS, for which I can try putting up a PR.

Also re: pre-commit hook integration that's something that would be beneficial as well!

[2022-04-08 17:08] mszostok opened #140 "Add native support for pre-commit hook"
**Description**

The native support for `pre-commit` hook was requested by external users.

To integrate with https://pre-commit.com/ the `.pre-commit-hooks.yaml` file needs to be added to the root for repository.

Example:
[code]

To support the input parameters, the `codeowners-validator` CLI should accept flags or config file.

**Reasons**

Support https://pre-commit.com/ out of the box to simp

[2022-04-08 17:12] mszostok commented on #140
Hi @peterdemin and @jeremycohen!

You both posted that the pre-commit support would be nice to see in codeowners-validator.

Do you already have snippets how you use it was pre-commit? As I see, one problem that the CLI is supports for now only env variables, where pre-commit allows only flags. For example:
[code]

Additionally, you want to use the docker_image, go or system option?

[2022-04-08 19:53] peterdemin commented on #140
I don't like our setup, because we don't have control over which version to use. I still put it here so I could avoid our mistakes:

We use `gh` CLI to figure out binary management:
[code]

`.pre-commit-config.yaml`:
[code]

`tools/validate_codeowners.sh`:
[code]

[2022-04-12 21:23] #139 closed

[2022-04-15 11:59] julienduchesne commented on #114
We use it at Grafana Labs for our private IaC repository. Lots of our CODEOWNERS file is generated so this tool is great to make sure we didn't generate junk!

[2022-05-18 22:57] helixliam opened #157 "Valid Owner Checker should report if the owner doesn't have Write access"
Currently, the Valid Owner Checker performs the following [checks](https://github.com/mszostok/codeowners-validator/blob/main/README.md#checks):

In Step 3, instead of checking whether the owner is a member of the organization, the Valid Owner Checker should check whether the owner has _Write_ or _Admin_ access to the repository.

**Reasons**

This is consistent with the native GitHub codeowners v

[2022-07-06 14:56] allanlewis opened #162 "App authentication doesn't work with provided action"
**Description**

I created a Github app for use with the action provided by this repo but I get the following error:

[code]

My step is something like this:

[code]

**Troubleshooting**

Using the Docker image directly with the same credentials works:

[code]

[2022-07-07 11:28] #162 closed

[2022-07-08 09:04] allanlewis commented on #162
Thanks, @mszostok - the reason I was trying to use env vars was that the app authentication parameters weren't listed in `action.yml`. I see that you've addressed that in ccda6cc - are you intending to make a new release in the near future?

[2022-07-12 20:47] mszostok commented on #162
Not sure about that. However you can use it in that way without the release. You will just see the notice about missing props but the action will work properly 👍
See: https://github.com/GitHubCODEOWNERS/codeowners-samples/actions/runs/2655128900

[2022-07-25 15:19] iamstarkov commented on #162
im having the similar issue, I configured the actions in this way:

[code]

and I got this output where action complains that documented required fields are not expected.

[code]

am I missing something?

[2022-07-25 15:26] iamstarkov commented on #162
I wouldn't classify it as a warning, due to it failing the build haha.

@mszostok thank you

[2022-07-25 15:27] mszostok commented on #162
are you sure? I tested that and the build was not failing, see: https://github.com/GitHubCODEOWNERS/codeowners-samples/actions/runs/2655128900

[2022-07-25 15:42] iamstarkov commented on #162
@mszostok nevermind, im a dumbass and forgot to add private key in secrets. thank you again for the help

[2022-08-02 12:08] iamstarkov opened #169 "/folder/* wildcard pattern is assumed to be nested by the action "Not Owned" check, which it isnt"
**Description**

Let's say you have the [repository](https://github.com/iamstarkov/codeowners-validator-issue-demo) with the given file structure:

[code]

and given [CODEOWNERS](https://github.com/iamstarkov/codeowners-validator-issue-demo/blob/main/CODEOWNERS) file:

[code]

The problem with this action is that despite `/packages/demo/src/not-owned` is not owned, because `/packages/demo/*`doesn'

[2022-08-05 13:06] mszostok commented on #169
Hi @iamstarkov

Thanks for reporting that. Some time ago (> 1 year 😅 ) try to fix that: https://github.com/mszostok/codeowners-validator/pull/69/files

However, this path traversal is quite tricky and I wanted to do more testing to do not introduce a new bug instead. I will add a prio on it and try to get it merge soon 👍 .

[2022-08-15 10:25] IKavanagh commented on #71
Is there any update on this being fixed anytime soon?

[2022-08-25 15:18] vanta opened #172 "CODEOWNERS file existence check"
Does the codeowners-validator fail if the `CODEOWNER` file does not exist at all?

[2022-08-31 13:47] mszostok commented on #172
Hi @vanta

Yes, it check 2 cases:
- CODEOWNERS doesn't exist:
[code]
- Multiple CODEOWNERS files:
[code]

[2022-08-31 13:47] #172 closed

[2022-09-23 00:55] Nuru opened #173 "Unnecessary failure of test of GitHub token"
Using v0.7.1 with our PAT, the checks succeed. Using v0.7.4 they fail with:
[code]

Obviously the token has the permissions is needs, and it is configured with `read:org` scope, so I don't know why it is failing.

This works:
[code]

changing `0.7.1` to `0.7.4` fails with the above error.

[2022-09-23 07:21] jebl01 opened #174 "Killed: 9"
I'm on Apple silicon running Monterey 12.6 (21G115). The only thing that happens when I try to run `codeowners-validator` locally is that I get a `Killed: 9` message.

[code]

[2022-09-24 17:03] mszostok commented on #174
Hi @jebl01

Could you tell me how you installed the codeowners-validator? And which version?

CI produces the ARM64 binary too for macOS (with Apple Silicon chips) but I have Intel for now so I was not able to test it.

The issue that you reported looks like the binary was wrongly compressed by `upx` that I use on CI (I found a related issue https://github.com/upx/upx/issues/446).

Here is a binar

[2022-09-26 09:35] jebl01 commented on #174
your zip didn't work (same error), but building locally did!

got this error at the end?!:
[code]

[2022-10-10 21:45] kenherring opened #176 "Error and mismatched URLs when using github app credentials via github enterprise"
**Description**

**Expected result**

Authentication passes.

**Actual result**

Authentication fails.

**Steps to reproduce**

Configure a github app for codeowners validation via github enterprise.

**Troubleshooting**

[2022-10-19 16:16] Moser-ss commented on #174
Hey, I was able to build the binary in a Mac M1 and the result is the same
[code]

[2022-10-27 18:30] dusi opened #177 "Add support for specifically excluding code owners on files and subfolders"
**Description**

Based on GitHub's [documentation](https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners) it should be possible to exclude certain folders (subfolders) from having an owner.

[code]

Now this is something that's not possible with `codeowners-validator` and I wonder if adding this would help in situation

[2022-11-11 16:05] ewiner opened #180 "Recommended App permissions don't appear to be sufficient"
**Description**

I created and installed a Github App as described in the docs, giving it only the "Members: Read" permission.  But when running the action, I see this error:
[code]

Are there any other permissions required for the linter to run on my private repo?  Here's what the App Installation page looks like:
![image](https://user-images.githubusercontent.com/603747/201381467-9671736d-36d4-4